*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #05a312;
	
}
p{
	color: #6e0b29;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	color: #6e2a0b;
}
.btn{
    display: inline-block;
    background:#EED51A ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s ;
}
.btn:hover {
     background: #6B0624;
}
.header{
	background-image: url(hogwarts2.jpg);
}
.header .row{
        margin: 70px;
}
.categories{
	margin: 70px 0;

}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #5A5AC6;
}
.title::after{
	content: '';
	background: #7D5AC6;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: #4E42C7;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.col-4:hover{
	transform: translateY(-5px);
}


.brands{
	margin: 100px auto;
}
.col-5{
	width: 160px;
}
.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover{
	filter: grayscale(0);
}



.footer{
    background: #23344F;
    color: #79A5E9;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
   color: #79A5E9;
}
.footer h3{
   color:#2A5391 ;
}
.footer-col-1,.footer-col-2{
   flex-basis: 12%;
   text-align: center;
}
ul{
   list-style-type: none;
}
.footer hr{
   border: none;
   background: #79A5E9;
   height: 1px;
   margin: 20px 0;
}
.copyright{
   text-align: center;
}
.menu-icon{
   width: 28px;
   margin-left: 20px;
   display: none;
}


@media only screen and (max-width: 800px){
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #FFB5FC;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: #AE0039;
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}